body{
  background-color: cadetblue;
  text-align: center;
}
.operations{
  margin: 10px;
  color: blue;
}

.transactions{
  margin: 10px;
  color: blue;
}

.breakdown{
  margin: 10px;
  color: blue;
}

#withdraw{
  margin: 10px;
}

#deposit{
  margin: 10px;
}

#delete{
  margin: 10px;
}
